<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/photojenia_style.css">
  <title>Home Page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
  {{> topnav}}
  {{{body}}}

  <!--Weather Theme Change-->
  <div id="weather-function">
    <p id="weather-text">Change the page's theme based on the weather!</p>
    <input type="text" id="weather-city" placeholder="Type in your city!">
    <br>
    <br>
    <button id="search-weather">Search</button>
    <button id="reset-color">Reset Theme</button>
  </div>

  {{> footer}}

  <script>
    // Weather test
    $("#search-weather").on("click", function() {
        var userCity = $("#weather-city").val().toLowerCase()
        console.log(userCity)
        $.ajax({
            url: "https://cors-anywhere.herokuapp.com/api.openweathermap.org/data/2.5/weather?q=" + userCity + "&units=imperial&APPID=0aaf6ed86a35a5a59f48151fb51f3428",
            method: "GET"
        }).then(function(response) {
            console.log("######################################")
            console.log(response)
            var currentWeather = response.weather[0].main
            console.log(currentWeather)
        if (currentWeather === "Clear") {
            $(".fa-cog").css("color", "lightblue")
            $("#title").css("color", "lightblue")
            $("#topnav").css("border-bottom-color", "lightblue")
            $("footer").css("border-top-color", "lightblue")
            $(".faButton").css("color", "lightblue")
            $("#profileFooter").css("color", "lightblue")
            $("#weather-text").css("color", "lightblue")
        } else if (currentWeather === "Clouds") {
            $(".fa-cog").css("color", "grey")
            $("#title").css("color", "grey")
            $("#topnav").css("border-bottom-color", "grey")
            $("footer").css("border-top-color", "grey")
            $(".faButton").css("color", "grey")
            $("#profileFooter").css("color", "grey")
            $("#weather-text").css("color", "grey")
        } else if (currentWeather === "Rain") {
            $(".fa-cog").css("color", "darkblue")
            $("#title").css("color", "darkblue")
            $("#topnav").css("border-bottom-color", "darkblue")
            $("footer").css("border-top-color", "darkblue")
            $(".faButton").css("color", "darkblue")
            $("#profileFooter").css("color", "darkblue")
            $("#weather-text").css("color", "darkblue")
        }  
      })
    })

    // Returns to default color theme
    $("#reset-color").on("click", function() {
        $("#weather-city").val("")
        $(".fa-cog").css("color", "white")
        $("#title").css("color", "white")
        $("#topnav").css("border-bottom-color", "white")
        $("footer").css("border-top-color", "white")
        $(".faButton").css("color", "white")
        $("#profileFooter").css("color", "white")
        $("#weather-text").css("color", "white")
    })
  </script>

</body>

</html>